p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    width: 400px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    font-style:italic;
    text-align: Left;
}
.video-stats,.video-author{
    display: inline-block;
    font-size: 12px;
    color: grey;
    margin: 0 auto;
    vertical-align: top;
}
.video-author-div{
    margin: 0 auto;
}
.subscribe-button{
    background-color: rgb(200,0,0);
    color: aliceblue;
    border: none;
    padding: 8px 8px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
    vertical-align: top;
}
.subscribe-button:hover{
    opacity: 0.8;
}
.subscribe-button:active{
    opacity: 0.3;
}
.join-button{
    background-color: white;
    border-color: aqua;
    color: aqua;
    border-radius: 2px;
    border-style: solid;
    padding:7px 7px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: background-color 1s,
        color 1s;
}
.join-button:hover{
    background-color: rgb(11, 124, 124);
    color:white;
}
.join-button:active{
    opacity: 0.7;
}
.tweet-button{
    background-color: rgb(92, 176, 233);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.refer-text{
    font-size: 14px;
    background-color: rgb(200,60,60);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 50px;
    
}
.span-refer{
    cursor: pointer;
}
.span-refer:hover{
    text-decoration: underline;
}
.thumbnail{
    width: 450px;
    height: 300px;
    object-fit: contain;
    display: block;
}
.thumbnail-div{
    margin-bottom: 12px;
    position: relative;
}
.time-movie{
    justify-content: left;
    left: 90%;
}
.video-preview-all{
    display: flex;
    flex-direction: row;
}
.video-preview{
    display: inline-block;
    margin: 10px;
}
.serach-box{
    display: block;
    margin: 10px;
}
.channel-img-div{
    display: inline-block;
    margin: 0px 7px;
    vertical-align: top;
}
.channel-img{
    width: 36px;
    height: 36px;
    border-radius: 40px;
}
.video-info{
    display: inline-block;
}